<div class="login">

  <form class="form" [formGroup]="formAuth">
    <tui-input
      tuiTextfieldExampleText="Field placeholder"
      formControlName="email"
      tuiHintContent="A tooltip"
    >
      Логин/Почта
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <tui-input
      tuiTextfieldExampleText="Field placeholder"
      formControlName="password"
      tuiHintContent="A tooltip"
    >
      Пароль
      <span class="tui-required"></span>
    </tui-input>
    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
    <button class="button" (click)="signIn()">Вход</button>
  </form>
  <button class="chat-button" routerLink="/chat">got to chat</button>
</div>
<div (click)="clickMine()"  style="width: 50px;height: 50px;background: black;color: white">nigger</div>
