<div class="login">
  <form class="form" [formGroup]="form">
    <div class="form__input">name <input type="text" formControlName="username"></div>
    <div class="form__input">email <input type="email" formControlName="email"></div>
    <div class="form__input">password <input type="password" formControlName="password"></div>
    <button class="button" (click)="onSubmit()">Регистрация</button>
  </form>
  <form class="form" [formGroup]="formAuth">
    <div class="form__input">email <input type="email" formControlName="email"></div>
    <div class="form__input">password <input type="password" formControlName="password"></div>
    <button class="button" (click)="signIn()">Вход</button>
  </form>
  <button class="chat-button" routerLink="/chat">got to chat</button>
</div>


