<div class="stream">
  <div class="stream__template">
    <div class="title">
      <span>СТРИМЕРЫ</span>
      <img src="assets/twitch.png" alt="twitch">
    </div>
    <span class="subtitle">
      На сервере играют стримеры с платформы Twitch, и если вам нравятся стримы и
      играть в Minecraft, то почему бы не совместить приятное с приятным?
    </span>
    <div class="list">
      <div class="list__description">
        <div class="selector">
          <img
            class="button arrow-left"
            src="/assets/left_arrow.png"
            alt="<"
            (click)="rollBackPerson()"
          ><span>{{slideList[currentPosition].id}}</span>
          <img
            class="button arrow-right"
            src="/assets/right_arrow.png"
            alt=">"
            (click)="nextPerson()"
          ></div>
        <div class="text">
          <span class="text__title">{{slideList[currentPosition].title}}</span>
          <span class="text__sub-title">{{slideList[currentPosition].description}}</span>
        </div>
        <a target="_blank"
           [href]="getTwitchUrlByID(slideList[currentPosition].id)"
        >Смотреть</a>
      </div>
      <div class="place">
        <div id="twitch-player"></div>
      </div>
    </div>
  </div>

</div>
<!--TODO: обернуть плеер в релоудер чтобы динамически менялось -->
