<div class="stream">
  <div class="stream__template">
    <div class="title">
      <span>СТРИМЕРЫ</span>
      <img src="assets/twitch.png" alt="twitch">
    </div>
    <span class="subtitle">
      На сервере играют стримеры с платформы Twitch, и если вам нравятся стримы и
      играть в Minecraft, то почему бы не совместить приятное с приятным?
    </span>
    <div class="list">
      <div class="list__description">
        <div class="selector">
          <svg-icon
            class="button _left"
            src="/assets/streamers/arrow.svg"
            (click)="rollBackPerson()"
          ></svg-icon>
          <span>{{slideList[currentPosition].id}}</span>
          <svg-icon
            class="button"
            src="/assets/streamers/arrow.svg"
            (click)="nextPerson()"
          ></svg-icon>
        </div>
        <div class="text">
          <span class="text__title">{{slideList[currentPosition].title}}</span>
          <span class="text__sub-title">{{slideList[currentPosition].description}}</span>
        </div>
        <a target="_blank"
           [href]="getTwitchUrlByID(slideList[currentPosition].id)"
        >Смотреть</a>
      </div>
      <div class="place">
        <img class="place__image"
             [src]="getImageUrlByID(slideList[currentPosition].id)"
             alt="str">
        <div id="twitch-player"></div>
      </div>
    </div>
  </div>

</div>
